<p>pending blog works!</p>
<div>
  <div>
    <form #formval="ngForm" (ngSubmit)="postPendingBlog(formval.value)">
      <input type="text" placeholder="Enter the postId" name="postId" ngModel>
      <br>
      <br>
      <input type="text" placeholder="Enter the Title" name="title" ngModel>
      <br>
      <br>
      <input type="text" placeholder="Enter the blog content" name="content" ngModel>
      <br>
      <br>
      <button>postBlog</button>
    </form>
  </div>
</div>
<br>
<br>
<!-- <button (click)="getblog()">getAllBlogs</button>

{{AllBlogs|json}} -->

